body{
background-color:#987554;
background-image: url("img/taustakuva.jpg")
}


.header-main{
	width:100%;
	height:60px;
	background-color: maroon;
}

.navbar-light .navbar-nav .nav-link  {
	color: orange;
	font-size: larger;
}

.navbar-light .navbar-brand  {
	color: orange;

}



.navbar-toggler-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%283, 159, 123, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*
.links ul{
	width:fit-content;
	height: 100%;
	list-style: none;
	margin-left: 22.5%;	
}

.links ul li{
	display:inline;
	float: left;
}

.links ul li a{
	padding: 0 15px ;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 60px;
	
	
}
*/
p {
	color: white;
	font-size: 25px;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
}
h1 {
	color: white;
	font-size:500%;
	font-weight: bold;
	font-family: "Times New Roman", Arial, sans-serif;
	text-align: center;
}
h2{
	color: white;
	font-size:300%;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}

ul {
	color:white;
	font-size:200%;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	list-style-type: none;
	text-align:center;
}

ol{
	color: white;
	font-size: 200%;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	list-style-type: none;
}
dl{
	color: white;
	font-size: 200%;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;

		
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 15%;

}

dl{
	color: white;
	font-size: 150%;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
}
ol{
	color: white;
	font-size:150%;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

dl{
	color: white;
	font-size:150%;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
}





